<p id="notice"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= @title %></li>
  </ol>
</nav>

<h1><%= @title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th>Framework</th>
      <th>Leak</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr class="<%= css_class_color repository %>">
        <td><%= repository.url %></td>
        <td><%= repository.framework %></td>
        <td>
          <%= repository.unchecked_leaks.count %>
          to check /
          <%= repository.unsafe_leaks.count %>
          unsafe
        </td>
        <td><%= link_to 'Show', repository %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @repositories, theme: 'twitter-bootstrap-4' %>

<%= link_to 'New Repository', new_repository_path, class: 'btn btn-primary' %>