<% leaks.each do |leak| %>

  <% if leak.unsafe? %>

    <p class="text-danger"><%= leak.content %></p>
    <% elsif leak.safe? %>
      <p class="text-muted"><%= leak.content %></p>
    <% else %>
      <p ><%= leak.content %></p>
    <% end %>

    <div class="btn-group">
      <%= button_to 'mark as unsafe', repository_leak_url(repository_id: leak.repository.id, id: leak.id, status: :unsafe), method: :patch, class: 'btn btn-danger' unless leak.unsafe? %>
      <%= button_to 'mark as safe', repository_leak_url(repository_id: leak.repository.id, id: leak.id, status: :safe), method: :patch, class: 'btn btn-success' unless leak.safe? %>
    </div>

    <hr>

  <% end %>